<!DOCTYPE html>
{% import 'macros.jinja2' as macros %}
<html lang="{{request.locale_name}}">
  <head>
    {{ macros.favicon(request) }}
    {{ macros.stylesheet(request, 'default') }}
    <title>{{ dentry.name }} - PYLF</title>
  </head>
  <body>
    <div class="content">
      <h1><img src="{{ request.icon_path(('inode/directory', None)) }}">&nbsp;{{ context.name }}</h1>
      <p><a href="../">
          {%- if context.is_root -%}
          {{ _("Mounts") }}
          {%- else -%}
          {{ _("Parent Directory") }}
          {%- endif -%}
      </a></p>
      <table id="dentries_table">
        <tr>
          <th></th>
          <th>{{ _("Name") }}</th>
          <th>{{ _("Size") }}</th>
        </tr>
        {%- for child in children -%}
	{%- if show_hidden or not child.hidden %}
        <tr class="{{ loop.cycle('dentry_odd_row', 'dentry_even_row') }}">
          <td>{{ macros.dentry_icon(request, child) }}</td>
          <td class="dentry_name_col"><a href="{{child.relpath}}">{{ child.name }}</a></td>
          <td class="dentry_size_col">{{ child.size|fmt_size }}</td>
        </tr>
	{%- endif -%}
        {%- endfor -%}
      </table>
    </div>
  </body>
</html>
