{% macro dentry_icon(request, dentry) -%}
<img class="dentry_icon" src="{{ request.icon_path(dentry.mimetype) }}">
{%- endmacro %}

{% macro stylesheet(request, name) -%}
<link rel="stylesheet" type="text/css" href="{{ request.static_path('pylf:static/' + name + '.css') }}">
{%- endmacro %}

{% macro favicon(request) -%}
<link rel="icon" type="image/png" href="{{ request.icon_path(('inode/directory', None)) }}">
{%- endmacro %}

{% macro static_meta() -%}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{%- endmacro %}
